@charset "utf-8";

.wrapper{
  /* height:100vh */
  width: 200px;
}

.wrapper button{
  width: inherit;
  border: none;
  background-color: lightgrey;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
}

.wrapper:hover .submenu{
  display: block;
  /* 전체 상위에 호버를 주니까 메뉴가 없어지지 않는다 */
}

a{
  text-decoration: none;
  color: #333;
  display: block;
  text-align: center;
  padding: 10px;
}

.submenu{
  width: inherit;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}



