@charset "utf-8";
*{
  padding: 0;
  margin: 0;
}
/* ***************************************nav**************************** */
nav div a{
  text-decoration: none;
}

nav{
  margin-bottom: 10px;
}
.nav-left{
  width: 50vw;
  display: inline-block;
  float: left;
  text-align: center;
}
.nav-right{
  width: 50vw;
  display: inline-block;
  text-align: center;
  float: right;
}

.nav-left > a{
  background-color: greenyellow;
  color: white;
  font-weight: bolder;
}
.nav-left > a > span {
  color: green;
}

.nav-right > .nav-link  a{
  margin: 0 10px;
  font-weight: bolder;
  color: #333;
}

.nav-right > .nav-link  a:nth-child(1){
  color: skyblue;
}

/* ***************************************main**************************** */

main{
  clear: both;
  background-image: url(0604_images/bg_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 5px;
  height: 50vh;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-text > h1{
  font-size: 10em;
  letter-spacing: 10px;
  font-weight: bold;
  color: yellow;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.main-text > h2 {
  font-size: 3em;
  color: white;
}

.main-text > p {
  font-size: 1em;
  color: white;
  display: flex;
  align-items: flex-end;
  height: 40%;
}

/* ***************************************header**************************** */

header .slide .slide-article{
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.header-design,
.header-publising,
.header-developer{
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.header-design h1,
.header-publising h1,
.header-developer h1 {
    background-color: yellow;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-weight: normal;
    border-radius: 50%;
}
.header-design h2,
.header-publising h2,
.header-developer h2{
  font-size: 16px;
  margin: 10px;
  font-weight: normal;
}
/* ***************************************article**************************** */

article{
  position: relative;

}

.

.article-text > h1{
  font-size: 2em;
}
.article-text > h2 {
  font-size: 0.8em;
}

.article-img-left{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */
  /* width: 30%; */
}

.article-img-left img{
  margin: 10px;
}


.article-img-mid{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;

  /* width: 30%; */
}
.article-img-mid img{
  margin: 10px;
}

.article-text{
  text-align: center;
  /* margin-bottom: 150px; */
  
}

.article-img-mid .article-text h1{
  font-size: 4em;
  font-weight: normal;
}

.article-img-right{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  
}

.article-img-right img{
  margin: 10px;
}

.article-img-wrapper{
  height: 80%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.article-img-left img:hover,
.article-img-mid img:hover,
.article-img-right img:hover{
  transform: scale(1.5);
  transition: .5s;
}

/* ***************************************aside**************************** */

aside{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.aside-icon a{
  margin: 10px;
  color: white;
  background-color: lightgray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  
}

.aside-icon a:before{
  content: "";
  height: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: skyblue;
  transition: .5s;
}

.aside-icon a:hover::before{
  height: 100%;
}
.aside-icon a:hover .fab, .aside-icon a:hover .far {
  transform: rotateY(360deg);
  color: black;
  transition: .5s;
}

.aside-icon a:nth-child(1):before{
  background-color: lightgoldenrodyellow;
}
.aside-icon a:nth-child(2):before{
  background-color: lightskyblue;
}
.aside-icon a:nth-child(3):before{
  background-color: lightgreen;
}
.aside-icon a:nth-child(4):before{
  background-color: lightyellow;
}

input[name="tab"]{
  display: none;
}

input[id="menu"]{
  display: none;
}
.hambuger a{
  display: none;
}

.nav-link a:hover{
  background-color: mediumpurple;
}
/* ***************************************footer**************************** */

footer{
  background-color:#333;
  color: white;
  text-align: center;
  padding:15px 0 0 5px;
}



/* ***************************************반응형tablet**************************** */

@media screen and (min-width:768px) and (max-width:1023px) {
  input[id="menu"]{
    display: none;
  }

  .hambuger a{
    display: none;
  }
  
  
  .nav-left{
    text-align: left;
  }
  
  .nav-right{
    text-align: right;
  }
  
  
  
  
  
  
  
  header{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
  .slide{
    position: relative;
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    overflow: hidden;
  } 
  header .slide .slide-article{
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    margin-top: 50px;
    transition: .5s;
  }


  input[id=tab1]:checked ~ .slide-article{
    left:0;
  }
  input[id=tab2]:checked ~ .slide-article{
    left:-300px;
  }
  input[id=tab3]:checked ~ .slide-article{
    left:-600px;
  }

  input[name=tab]{
    display: none;
  }

  .btn{
    padding: 10px 20px;
    text-align: center;
    margin-top: 15px;
  }
  
  .btn label{
    width: 30px;
    height: 10px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 10%;
    cursor: pointer;
  }
  input[id=tab1]:checked ~ .btn label[for=tab1],
  input[id=tab2]:checked ~ .btn label[for=tab2],
  input[id=tab3]:checked ~ .btn label[for=tab3]{
    background-color: lightpink;
  }

  article .article-img-wrapper .article-img-mid{
    display: none;
  }
  .main-text > h1{
    font-size: 7em;
    letter-spacing: 10px;
    font-weight: bold;
    color: yellow;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }
  .main-text > h2 {
    font-size: 2em;
    color: white;
  }
}

/* ***************************************반응형mobile**************************** */
@media screen and (min-width:320px) and (max-width:767px){

  




  .nav-left{
    text-align: left;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
  .slide{
    position: relative;
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    overflow: hidden;
  } 
  header .slide .slide-article{
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    margin-top: 50px;
    transition: .5s;
  }


  input[id=tab1]:checked ~ .slide-article{
    left:0;
  }
  input[id=tab2]:checked ~ .slide-article{
    left:-300px;
  }
  input[id=tab3]:checked ~ .slide-article{
    left:-600px;
  }

  input[name=tab]{
    display: none;
  }

  .btn{
    padding: 10px 20px;
    text-align: center;
    margin-top: 15px;
  }
  
  .btn label{
    width: 30px;
    height: 10px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 10%;
    cursor: pointer;
  }
  input[id=tab1]:checked ~ .btn label[for=tab1],
  input[id=tab2]:checked ~ .btn label[for=tab2],
  input[id=tab3]:checked ~ .btn label[for=tab3]{
    background-color: lightpink;
  }

  article .article-img-wrapper .article-img-mid,
  article .article-img-wrapper .article-img-right{
    display: none;
  }

  .main-text > h1{
    font-size: 5em;
    letter-spacing: 10px;
    font-weight: bold;
    color: yellow;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }
  .main-text > h2 {
    font-size: 1em;
    color: white;
  }

  
  input[id=menu]{
    display: none;
  }

  .nav-link{
    display: none;
  }

  label[for=menu]{
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 15px;
    right: 5px;
  }

  label[for=menu] div{
    background-color: #222;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: 0.3s;
  }
  label[for=menu] div:nth-child(1){
    top: 0;
  }
  label[for=menu] div:nth-child(2){
    top: 50%;
    opacity: 1;
  }
  label[for=menu] div:nth-child(3){
    top: 100%;
  }



  input[id=menu]:checked ~ label[for=menu] div:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
  }
  input[id=menu]:checked ~ label[for=menu] div:nth-child(2){
    opacity: 0;
  }
  input[id=menu]:checked ~ label[for=menu] div:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
  }

  .hambuger a{
    display: none;
  }
  input[id=menu]:checked ~.hambuger a{
    width: 200px;
    display: block;
    background-color: lightyellow;
    border: 1px solid #eee;
  }
}