@charset "utf-8";

*{
  padding: 0;
  margin: 0;
}

nav {
  background-color: lightgray;
}

nav > .nav_menu > ul > li:nth-child(1){
  color: white;
}


nav > .nav_menu > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}