@charset "utf-8";

*{
  padding: 0;
  margin: 0;
}

nav {
  background-color: lightgray;
  position: fixed;
  width: 100%;
}

nav > .nav_html > h1 {
  color: white;
  font-size: 2em;
  font-weight: bolder;
  /* margin: 30px; */
}

.nav_bar {
  display: flex;
}


nav > .nav_bar > ul {
  display: flex;
  justify-content:flex-start;
  list-style: none;
  padding: 30px;
  width: 100%;
}

nav > .nav_bar > ul > li {
margin:10px
}

nav > .nav_bar > ul > li:nth-child(5){
  margin-right: 0;
  margin-left: auto;

}

nav > .nav_bar > ul > li:nth-child(6){
  margin-right: 0;
  margin-left: auto;
}

nav > .nav_bar > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}