@charset "utf-8";

*{
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

#wrapper{
  width: 50%;
  margin: 0 auto;
}

.photo {
  border: 2px solid black;
  
}


@media screen {
 #wrapper{
  width: 100%;
  display: flex;
 }
  .photo {
  flex-wrap: ;
 } 
}