

.left,
.right {position:absolute; top: 0; width: 100px; height: 300px;}
.left {position: absolute; left: 0; background-color: khaki;}
.right {position: absolute; right: 0; background-color: rebeccapurple;}
.visual{ height: 300px; background-color: salmon;}